@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 650px;
  background-color: #ffffff;
  margin-bottom: 1rem;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-button {
  font-size: 16px;
  color: #8f9094;
  background: none;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.login-box {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid var(--New-group-gray-100, #B4B5B7);

}

.login-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.login-form input {
  width: calc(100% - 32px);
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.login-form input.error {
  border-color: red;
  /* 조건을 만족하지 않았을 때 빨간색 테두리 추가 */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  /* 경고 메시지 위쪽 여백 수정 */
  margin-bottom: 5px;
  /* 경고 메시지 아래쪽 여백 수정 */
}

.login-form input.error::placeholder {
  color: red;
  /* 조건을 만족하지 않았을 때 placeholder 색상 변경 */
}

.reset-link,
.signup-link {
  text-decoration: none;
  color: #3269f6;
}

.reset-link {
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  padding-left: 77%;
  text-align: right;
}

/* 기본 상태 로그인 버튼 */
.login-button {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #8f9094;
  color: #ffffff;
  cursor: not-allowed;
  pointer-events: none;
  /* 버튼이 비활성화된 경우 클릭 이벤트 무시 */
}

/* 활성 상태 로그인 버튼 */
.login-button.active {
  background-color: #3269f6;
  cursor: pointer;
  pointer-events: auto;
  /* 버튼이 활성화된 경우 클릭 이벤트 허용 */
}

.signup-prompt {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-form input::placeholder {
  color: #8f9094;
  /* 기본 플레이스홀더 색상 */
}