:root {
    --title-color: #ffffff;
    --body-bg-color: #ffffff;
    --main-bg-color: #f4f4f4;
    --header-bg-color: #ffffff;
    --header-text-color: #333;
    --box-bg-color: #ffffff;
    --box-border-color: #EFF0F2;
    --button-bg-color: #8f9094;
    --button-hover-bg-color: #555;
    --button-text-color: #ffffff;
    --button-home: #ffffff;
    --button-home-font-color: #B4B5B7;
    --button-detail-color: #ffffff;
    --input-border-color: #ddd;
    --input-error-border-color: red;
    --input-error-placeholder-color: red;
    --heart-bg-color: #ffffff;
    --heart-bg-text-color: #000000;
    --heart-active-bg-color: #3269f6;
    --heart-active-text-color: #ffffff;
    --views-font-color: #B4B5B7;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
}

p {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

hr {
    border: 0;
    height: 1px;
    background: #EFF0F2;
}


#prvBtn {
    background-color: var(--button-home);
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 25px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    background-color: var(--title-color);
    border: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.BodySmall {
    color: var(--black, #000);
    background-color: #ffffff;
    border: none;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 650px;
    padding-top: 0;
    background-color: var(--header-bg-color);
    margin-bottom: 1rem;
}

#writing{
    padding-bottom: 20px;
    position: relative;
    top: 1px;
}

#myProfile{
    position: relative;
    top: 7px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-box {
    width: 760px;
    padding: 40px;
    background-color: var(--box-bg-color);
}

.page-title {
    text-align: left;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#details {
    background-color: var(--button-detail-color);
    border: none;
    font-size: x-large;
    font-weight: 600;
    position: relative;
    bottom: 30px;
    cursor: pointer;
}

#bodyTop {
    display: flex;
    justify-content: space-between;
}

.article {
    margin-bottom: 40px;
    border-radius: 5px;
}

.interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.views {
    font-size: 16px;
    color: var(--views-font-color);
}

.heart {
    padding: 12px 32px;
    border-radius: 12px;
    background: var(--heart-bg-color);
    border: 1px solid var(--box-border-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
}

.heart.active {
    background-color: var(--heart-active-bg-color);
    color: var(--heart-active-text-color);
}

#comments {
    background: var(--box-bg-color);
    border-radius: 8px;
}

#comments h2 {
    margin-top: 0;
}

circle {
    cursor: pointer;
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.input-button-container {
    position: relative;
    display: flex;
    align-items: center;
}

#comment-text {
    flex: 1;
    padding: 12px;
    padding-right: 50px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 40px;
}

.comment-interface {
    position: absolute;
    right: 10px;
}

.comment-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.comment-button svg {
    width: 36px;
    height: 36px;
}

.userName {
    position: relative;
    bottom: 5px;
}

.excess {
    color: var(--input-error-placeholder-color, red);
}

#char-count {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    display: block;
    padding-bottom: px;
    margin-top: 0%;
    color: blue;
}
#details {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    flex-direction: column;  /* 세로 배치 */
    transform: translateY(50%);
}

.dropdown-content button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    text-align: left;
    width: 100%;
    background: #9a9b9f ;

}
.dropdown-content button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}.dropdown-content button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content button:hover {
    background-color: var(--button-hover-bg-color);
}

.page-title[contentEditable="true"], .article[contentEditable="true"]{
    border: 1px solid #ddd;
    border-radius: 5px;
}


