@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    padding: 16px 400px;
    justify-content: space-between;
    align-items: center;
}

#post {
    cursor: pointer;
    display: flex;
    width: 500px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--gray1, #D1D1D1);
    border: none;
    bottom: 10px;
    position: fixed;
    left: 500px;
}

#previous{
    cursor: pointer;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    background-color: white;
}

#title{
    color: var(--gray1, black);
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; 
    border: none;
    width: 90%;
    outline: none;
}

#detail{
    outline: none;
    color: var(--gray1, black);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; 
    border: none;
    width: 90%;
}

h1 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
}

#postcontainer {
    display: flex;
    justify-content: center;
}

span {
    color: var(--Main, #3269F6);
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}
